@model SistemaCompeticao.Models.Artist_has_Music

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Participação</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </dt>

        <dd>
            @Html.ActionLink(@Model.Artist.Name, "Details", "Artists", new { @id = Model.Artist.idArtist }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Title)
        </dt>

        <dd>
            @Html.ActionLink(@Model.Music.Title, "Details", "Musics", new { @id = Model.Music.idMusic }, null)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idArtist_has_Music }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
