@model IEnumerable<SistemaCompeticao.Models.Artist>

@{
    ViewBag.Title = "Artistas";
}

<h2>Lista de Artistas</h2>

<p>
    @Html.ActionLink("Cadastrar Artista", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormationYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormationYear)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idArtist }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idArtist }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.idArtist })
        </td>
    </tr>
}

</table>
