@model SistemaCompeticao.Models.Artist_has_Competition

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Cadastro em Batalha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </dt>

        <dd>
            @Html.ActionLink(@Model.Artist.Name, "Details", "Artists", new { @id = Model.Artist.idArtist }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Battle.Name)
        </dt>

        <dd>
            @Html.ActionLink(@Model.Battle.Name, "Details", "Battles", new { @id = Model.Battle.idBattle }, null)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idArtist_has_Competition }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
