@model SistemaCompeticao.Models.Instrument

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>@Html.DisplayFor(model => model.InstrumentType)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => "Música")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => "Membro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idInstrument }) |
    @Html.ActionLink("Listar instrumentos", "Index")
</p>
