@model IEnumerable<SistemaCompeticao.Models.Instrument>

@{
    ViewBag.Title = "Instrumentos";
}

<h2>Instrumentos</h2>

<p>
    @Html.ActionLink("Cadastrar novo instrumento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tipo de instrumento
        </th>
        <th>
            Música
        </th>
        <th>
            Membro
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Music.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idInstrument }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idInstrument }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.idInstrument })
        </td>
    </tr>
}

</table>
