@model SistemaCompeticao.Models.Music

@{
    ViewBag.Title = "Deletar música";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja deletar "@Html.DisplayFor(model => model.Title)"?</h3>
<div>
    <h4>Música</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MusicLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusicLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Listar músicas", "Index")
        </div>
    }
</div>
