@model IEnumerable<SistemaCompeticao.Models.Music>

@{
    ViewBag.Title = "Músicas";
}

<h2>Músicas</h2>

<p>
    @Html.ActionLink("Cadastrar nova música", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Título
        </th>
        <th>
            Duração
        </th>
        <th>
            Gênero musical
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MusicLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idMusic }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idMusic }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.idMusic })
        </td>
    </tr>
}

</table>
