@model SistemaCompeticao.Models.Battle

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Batalha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BattleHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattleHour)
        </dd>

        <dt>
            Nome do Evento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idBattle }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
