@model IEnumerable<SistemaCompeticao.Models.Battle>

@{
    ViewBag.Title = "Batalhas";
}

<h2>Lista de Batalhas</h2>

<p>
    @Html.ActionLink("Cadastrar Batalha", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BattleHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BattleHour)
        </td>
        <td>
            @Html.ActionLink(item.Event.Name, "Details", "Events", new { @id = item.Event.idEvent }, null)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idBattle }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idBattle }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.idBattle })
        </td>
    </tr>
}

</table>
