@model IEnumerable<SistemaCompeticao.Models.Event>

@{
    ViewBag.Title = "Eventos";
}

<h2>Lista de Eventos</h2>

<p>
    @Html.ActionLink("Cadastrar Evento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idEvent }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idEvent }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.idEvent })
        </td>
    </tr>
}

</table>
